<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../assets/plugins/angular/angular.js"></script>
    <script type="text/javascript" src="../assets/plugins/angular/angular-resource.js"></script>

</head>
<body>
     <div ng-controller="firstCtrl">
         <button ng-click="GetFile_123()">获取文件123</button>
         <button ng-click="GetFile_456()">获取文件456</button>
     </div>
     <script src="index.js"></script>
</body>
</html>