<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   +
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl1">
        <input type="button" ng-click="hello()" value="ctrl1"/>
    </div>
    <div ng-controller="myCtrl2">
        <input type="button" ng-click="hello()" value="ctrl2"/>
    </div>
    <div ng-controller="myCtrl3">
        <input type="button" ng-click="hello()" value="ctrl3"/>
    </div>
<script type="text/javascript">
    var app=angular.module('myApp',[]);
    app.factory('hello1',function(){
        return{
            hello:function(){
                console.log('hello1 service');
            }
        }
    });
    app.factory('hello2',function(){
        return{
            hello:function(){
                console.log("hello2 service");
            }
        }
    });

    var $injector=angular.injector();
    console.log(angular.equals($injector.get('$injector'),$injector));
    console.log(angular.equals($injector.invoke(function(){
        return $injector;
    }),$injector));

    app.controller('myCtrl1',function($scope,hello1,hello2){
        $scope.hello=function () {
            hello1.hello();
            hello2.hello();
        }
    });

    var myCtrl2=function($scope,hello1,hello2){
        $scope.hello=function(){
            hello1.hello();
            hello2.hello();
        }
    };
    myCtrl2.$injector=['hello1','hello2'];
    app.controller('myCtrl2',myCtrl2);

    app.controller('myCtrl3',['$scope','hello1','hello2',function($scope,hello1,hello2){
        $scope.hello=function () {
            hello1.hello();
            hello2.hello();
        }
    }]);

    console.log($injector.annotate(myCtrl2));
</script>
</body>
</html>