<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        .container{
            margin-right: 15px;
            margin-left: 15px;
            background-color: orange;
        }
    </style>
    <script src="assets/plugins/angular/angular.js"></script>
    <script src="myServiceCtrl.js"></script>

</head>
<body>
     <div class="container" ng-controller="ServiceController">
         <input type="text" ng-model="username" placeholder="请输入你用户名"/>
         <div>
             <ul>
                 <li ng-repeat="item in users">
                     {{item.name}}
                 </li>
             </ul>
         </div>
     </div>

</body>
</html>